
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
*.cover
*.log
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
README.md
*.db
*.sqlite
*.sqlite3