# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
env/
.venv/

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

*.log
.env
.env.*

build/
dist/
*.egg-info/

.pytest_cache/

htmlcov/
.coverage
.coverage.*

.mypy_cache/
.dmypy.json
.pyre/

*.sqlite3
alembic/versions/

